* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* VARIABLES */
:root{
    --nmd-heading-font: normal 700 1em/100% nimbus-sans-extended, sans-serif;
    font-style: normal;
    --nmd-orange: rgb(255, 101, 9);
    --nmd-orange-dull: rgb(228, 86, 3);
    --nmd-orange-translucent: rgba(255, 101, 9, .75);
    --nmd-blue: rgb(0, 123, 255);
    --nmd-blue-dull: rgb(0, 105, 217);
    --nmd-blue-translucent: rgba(0, 123, 255, .75);
    --nmd-dark: #232323;
    --nmd-light: #fff;
    --nmd-gray: #6c757d;
    --nmd-gray-dark: #343a40;
    --nmd-gray-light: #f8f9fa;
    --nmd-gray-lighter: #e9ecef;
    --nmd-gray-lightest: #dee2e6;
    --nmd-drop-shadow: 0 .5625rem 1.5rem var(--nmd-drop-shadow-color);
}
@media (prefers-color-scheme: dark) {
    :root{
        --nmd-background: rgb(33, 33, 33);
        --nmd-background-dull: rgb(53, 53, 53);
        --nmd-background-navbar: rgba(29, 29, 29, .8);
        --nmd-background-navbar-dull: rgba(43, 43, 43, .8);
        --nmd-text: rgb(232, 232, 232);
        --nmd-text-navbar: rgba(255, 255, 255, .5);
        --nmd-text-navbar-hover: rgb(255, 255, 255);
        --nmd-primary-color: var(--nmd-orange);
        --nmd-primary-color-dull: var(--nmd-orange-dull);
        --nmd-primary-color-translucent: var(--nmd-orange-translucent);
        --nmd-secondary-color: var(--nmd-blue);
        --nmd-secondary-color-dull: var(--nmd-blue-dull);
        --nmd-secondary-color-translucent: var(--nmd-blue-translucent);
        --nmd-text-input: rgba(255, 255, 255, .5);
        --nmd-drop-shadow-color: rgba(0, 0, 0, .25);
    }
}
@media (prefers-color-scheme: light) {
    :root{
        --nmd-background: rgb(255, 255, 255);
        --nmd-background-dull: rgb(235, 235, 235);
        --nmd-background-navbar: rgba(232, 232, 232, .8);
        --nmd-background-navbar-dull: rgba(202, 202, 202, .8);
        --nmd-text: #232323;
        --nmd-text-navbar: rgba(0, 0, 0, .5);
        --nmd-text-navbar-hover: #000;
        --nmd-primary-color: var(--nmd-blue);
        --nmd-primary-color-dull: var(--nmd-blue-dull);
        --nmd-primary-color-translucent: var(--nmd-blue-translucent);
        --nmd-secondary-color: var(--nmd-orange);
        --nmd-secondary-color-dull: var(--nmd-orange-dull);
        --nmd-secondary-color-translucent: var(--nmd-orange-translucent);
        --nmd-text-input: rgba(0, 0, 0, .5);
        --nmd-drop-shadow-color: rgba(0, 0, 0, .15);
    }
}

/* BODY */
body{
	background-color: var(--nmd-background);
	color: var(--nmd-text);
}

/* CONTAINERS */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 740px;
        width: 100%;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1175px;
    }
}